html {
  position: relative;
  min-height: 100%;
}

body {
    padding-bottom: 60px;
    background-image: url(../images/bkg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: transparent;
}

.ftext {
    color: white;
    font-size: 10px;
    text-decoration: none;
}

#details {
    font-size: 12px;
}