@media all and (max-width: 422px) and (min-width: 400px) {
  h1 {
      font-size: 2.25em;
  }
}

@media all and (max-width: 625px) and (min-width: 400px) {
  .btn {
      width: 100%;
  }
  #topcont {
      width: 100%;
  }
}

@media all and (min-width: 626px) {
  #topcont {
      width: 80%;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url(../images/bkg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.ftext {
    color: white;
    font-size: 10px;
    text-decoration: none;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: transparent;
}

#details {
    font-size: 12px;
}