html {
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}

body {
    background: #777 url("../images/header.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 48px;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0 0;
}

.img-circle {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#headerwrap {
    background: transparent;
    min-height: 90%;
}

#headerwrap .container {
    text-align: center;
}

#headertext {
    color: #FFF;
    text-shadow: #333 2px 2px 2px;
}

#spacer {
    height: 275px;
}

#motiv8meimg, #datavizimg {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.divider {
    height: 3px;
    width: 100%;
    background-color: #FFF;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0;
}

.projectdivider {
    height: 3px;
    width: 50%;
    background-color: #FFF;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.navbar, .navbar-toggle, .navbar-collapse{
    background: transparent;
    border: none;
    color: #FFF;
    
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
}

.contentwrap, #footer {
    background: #222;
    color: #FFF;
    font-size: 16px;
}

.list-group > a {
    background-color: transparent;
    color: #FFF;
    width: 90%;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #FFF;
    border-radius: 35px;
    font-size: 40px;
    color: #FFF;
    background: 0 0;
}

.btn-circle:hover {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #AAA;
    border-radius: 35px;
    font-size: 40px;
    color: #AAA;
    background: 0 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255,255,255,.3);
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.container {
    width: 100%;
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        background: #777 url("../images/headerm.jpg") no-repeat center center;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover !important;
        height: 95%;
        width: 100%;
    }
    
    #motiv8meimg, #datavizimg {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .navbar-default .navbar-toggle .icon-bar {
        background-color: rgba(255,255,255,1);
   }
    
    .navbar-default .navbar-brand {
        visibility: hidden;
    }
    
    #spacer {
        height: 0px;
    }
    
    .btn-circle:hover {
        width: 70px;
        height: 70px;
        margin-top: 15px;
        padding: 7px 16px;
        border: 2px solid #FFF;
        border-radius: 35px;
        font-size: 40px;
        color: #FFF;
        background: 0 0;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {
        background: #777 url("../images/headerm.jpg") no-repeat center center;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover !important;
        height: 95%;
        width: 100%;
    }
    
    #motiv8meimg, #datavizimg {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .navbar-default .navbar-toggle .icon-bar {
        background-color: rgba(255,255,255,1);
    }
    
    .navbar-default .navbar-brand {
        visibility: hidden;
    }
    
    #spacer {
        height: 0px;
    }
    
    .btn-circle:hover {
        width: 70px;
        height: 70px;
        margin-top: 15px;
        padding: 7px 16px;
        border: 2px solid #FFF;
        border-radius: 35px;
        font-size: 40px;
        color: #FFF;
        background: 0 0;
    }
}