/* Cal-HeatMap CSS */


html { 
  	background: url(img.png) no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
  	background-size: cover;
  	text-align: center;
}

#title {
	text-align: center;
}

#caltitle {
	font-family: sans-serif;
	font-size:2em;
	color: #000000;
}

p {
	font-family: sans-serif;
	font-size:1.25em;
	color: #000000;
}

#select {
	font-family: sans-serif;
	font-size:2em;
	color: #000000;
}

body {
  font: 10px sans-serif;
}

button {
	width: 10em;
	height: 5em;
}

#legend {
	
}

#empty {
	width: 5em;
	height: 5em;
	background-color: #ededed;
	display: inline-block;
}

#zero {
	width: 5em;
	height: 5em;
	background-color: hsla(360, 100%, 100%, 1);
	display: inline-block;
}

#one {
	width: 5em;
	height: 5em;
	background-color: hsla(360, 100%, 90%, 1);
	display: inline-block;
}

#two {
	width: 5em;
	height: 5em;
	background-color: hsla(360, 100%, 80%, 1);
	display: inline-block;
}

#three {
	width: 5em;
	height: 5em;
	background-color: hsla(360, 100%, 70%, 1);
	display: inline-block;
}

#four {
	width: 5em;
	height: 5em;
	background-color: hsla(360, 100%, 60%, 1);
	display: inline-block;
}

#five {
	width: 5em;
	height: 5em;
	background-color: hsla(360, 100%, 50%, 1);
	display: inline-block;
}

.cal-heatmap-container {
	
}

.graph
{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.graph-label
{
	fill: #000000;
	font-size: 20px
}

.graph, .graph-legend rect {
	shape-rendering: crispedges
}

.graph-rect
{
	fill: #ededed
}

.graph-subdomain-group rect:hover
{
	stroke: #000;
	stroke-width: 1px
}

.subdomain-text {
	font-size: 12px;
	fill: #000000;
	pointer-events: none
}

.hover_cursor:hover {
	cursor: pointer
}

.qi {
	background-color: #999;
	fill: #999
}


/*empty cells*/
.q0
{
	background-color: #fff;
	fill: #ededed;
	stroke: #ededed
}


.q1
{
	background-color: #999;
	fill: #ededed;
}

.q2
{
	background-color: #cedb9c;
	fill: hsla(360, 100%, 100%, 1);
}

.q3
{
	background-color: #999;
	fill: hsla(360, 100%, 90%, 1);
}

.q4
{
	background-color: #637939;
	fill: hsla(360, 100%, 80%, 1);
}

.q5
{
	background-color: #3b6427;
	fill: hsla(360, 100%, 70%, 1);
}
.q6
{
	background-color: #999;
	
	fill: hsla(360, 100%, 60%, 1);
}
.q7
{
	background-color: #999;
	
	fill: hsla(360, 100%, 50%, 1);
}

rect.highlight
{
	stroke:#444;
	stroke-width:1
}

text.highlight
{
	fill: #444
}

rect.now
{
	stroke: red
}

text.now
{
	fill: red;
	font-weight: 800
}

.domain-background {
	fill: transparent;
	shape-rendering: crispedges
}

.ch-tooltip {
	padding: 10px;
	background: #222;
	color: #bbb;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 99999;
	text-align: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: none;
	box-sizing: border-box;
}

.ch-tooltip::after{
	position: absolute;
	width: 0;
	height: 0;
	border-color: black;
	border-style: solid;
	content: "";
	padding: 0;
	display: "block";
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: black;
}
.domain-background {
	fill: transparent;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

.axis text{
	font-size: 16px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
}
