<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bio Card Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="bio-card.css" rel=stylesheet>
    
    <!-- Add icon library - Ease of use thing, can replace with other icons if desired -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <div class="wrapper">
        <div class="card">
          <div class="card-header">
            <img src="../images/adult-beard-boy-220453.jpg" alt="Picture of myself">
            <h1>Warwick Jones</h1>
            <h2>Front End Developer - Somewhere Inc.</h2>
            <div class="social-icons">
              <a href="#" class="fab fa-linkedin" title="linkedin"></a>
              <a href="#" class="fab fa-github" title="Github"></a>
              <a href="#" class="fab fa-dev" title="DEV Profile"></a>
              <a href="#" class="fab fa-twitter" title="Twitter"></a>
              <a href="#" class="fas fa-envelope" title="Email"></a>
            </div>
          </div>
          <div class="card-body">
            <div class="title">About Me</div>
            <div class="description">Spicy jalapeno bacon ipsum dolor amet spare ribs leberkas qui, ut corned beef aliqua ex. Ullamco tri-tip burgdoggen porchetta tempor. Ham hock ham filet mignon in sunt jerky short ribs elit bresaola id doner. Chicken shank ribeye, alcatra short ribs sed irure enim turkey aute minim. Eu do filet mignon, beef ball tip sint short ribs bresaola.</div>
            <div class="title">Skills</div>
            <div class="description">Angular - Web Design - Requirements Analysis - Agile - Javascript - HTML - CSS</div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2019 Ted Presley</p>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
      </a>
      <p class="license-text">If you would like to license this design for commercial purposes, please reach out to me via <a href="mailto:tapresle92@gmail.com">email</a></p>
    </footer>
  </body>
</html>
