<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Portfolio Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="portfolio.css" rel=stylesheet>
  </head>
  <body>
    <header>
      <nav>
        <a class="brand" href="#about">Warwick Jones</a>
        <span class="links">
          <a class="link" href="#about">About</a>
          <a class="link" href="#experience">Experience</a>
          <a class="link" href="#projects">Projects</a>
          <a class="link" href="#technology">Technology</a>
        </span>
      </nav>
      <div class="header-text">
        <h1>Warwick Jones</h1>
        <h2>Developer at Somewhere Inc.</h2>
      </div>
    </header>
    <main>
      <section id="about">
        <h1>About</h1>
        <div class="col-1-3">
          <img src="http://via.placeholder.com/120x120" class="img-circle" alt="Insert alt text here">
        </div>
        <div class="col-1-3">
          <h2>My Story</h2>
          <p>Bacon ipsum dolor amet pastrami cow sausage drumstick jowl, capicola flank shoulder prosciutto pork belly ball tip venison pork chop. Sausage shankle sirloin, cow spare ribs kielbasa alcatra landjaeger chicken pork belly drumstick. Pork chop beef prosciutto porchetta.</p>
        </div>
        <div class="col-1-3">
          <h2>Education</h2>
          <p>
            <strong>University of Somewhere, </strong>City, ST<br/>
            B.S. Computer Science, December 2014
          </p>
          <br/>
          <h2>Contact</h2>
          <p>
            <a href="mailto:example@gmail.com" class="email">example@gmail.com</a>
          </p>
        </div>
      </section>
      <hr>
      <section id="experience">
        <h1>Experience</h1>
        <p>Bacon ipsum dolor amet pastrami cow sausage drumstick jowl, capicola flank shoulder prosciutto pork belly ball tip venison pork chop. Sausage shankle sirloin, cow spare ribs kielbasa alcatra landjaeger chicken pork belly drumstick. Pork chop beef prosciutto porchetta. Leberkas chicken ham ham hock capicola buffalo t-bone meatloaf beef ribs burgdoggen hamburger spare ribs. Shankle picanha ground round, pancetta leberkas sirloin drumstick.</p>
      </section>
      <hr>
      <section id="projects">
        <h1>Projects</h1>
        <p>Bacon ipsum dolor amet pastrami cow sausage drumstick jowl, capicola flank shoulder prosciutto pork belly ball tip venison pork chop. Sausage shankle sirloin, cow spare ribs kielbasa alcatra landjaeger chicken pork belly drumstick. Pork chop beef prosciutto porchetta. Leberkas chicken ham ham hock capicola buffalo t-bone meatloaf beef ribs burgdoggen hamburger spare ribs. Shankle picanha ground round, pancetta leberkas sirloin drumstick.</p>
      </section>
      <hr>
      <section id="technology">
        <h1>Technology</h1>
        <p>Bacon ipsum dolor amet pastrami cow sausage drumstick jowl, capicola flank shoulder prosciutto pork belly ball tip venison pork chop. Sausage shankle sirloin, cow spare ribs kielbasa alcatra landjaeger chicken pork belly drumstick. Pork chop beef prosciutto porchetta. Leberkas chicken ham ham hock capicola buffalo t-bone meatloaf beef ribs burgdoggen hamburger spare ribs. Shankle picanha ground round, pancetta leberkas sirloin drumstick.</p>
      </section>
    </main>
    <footer>
      <p>&copy; 2018 Ted Presley</p>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
      </a>
      <p class="license-text">If you would like to license this design for commercial purposes, please reach out to me via <a href="mailto:tapresle92@gmail.com">email</a></p>
    </footer>
  </body>
</html>
