<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pixelated Dreams</title>
    <meta name="description" content="Pixelated Dreams - Ted Presley's Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="../../templates/blog.css" rel=stylesheet>
    <link href="../../templates/blog-bio.css" rel="stylesheet">

    <!-- Add icon library - Ease of use thing, can replace with other icons if desired -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
</head>
<body>
<header>
    <h1>Pixelated Dreams</h1>
</header>
<main>
    <article>
        [[content]]
    </article>
</main>
<aside>
    <img src="../../images/TedPresley.jpg" alt="Picture of me">
    <h3>About Me</h3>
    <p>20-something, Web Wizard, Gamer, Dog Dad. Let's chat.</p>
    <div class="social-icons">
        <a href="https://github.com/tapresle" class="fab fa-github" title="Github"></a>
        <a href="https://dev.to/tapresle" class="fab fa-dev" title="tapresle's DEV Profile"></a>
        <a href="https://twitter.com/LoneWulfXIII" class="fab fa-twitter" title="Twitter"></a>
        <a href="mailto:tapresle92@gmail.com" class="fas fa-envelope" title="Email"></a>
        <a href="https://tedpresley.com/blog/posts" class="fas fa-book" title="Blog post archives"></a>
    </div>
</aside>
<footer>
    <p>&copy; 2020 Ted Presley</p>
</footer>
</body>
</html>
